<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- Where to write logs -->
    <property name="LOG_DIR" value="/home/ubuntu/app/logs" />
    <!--For local run you can keep value="logs"; on server set an absolute path <property name="LOG_DIR" value="/home/ubuntu/app/logs" /> &ndash;&gt;-->

    <!-- baseline without stacktrace -->
    <property name="PATTERN_BASE"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{correlationId}] %logger{36} - %msg"/>

    <!-- Default pattern (no stacktrace) -->
    <property name="PATTERN" value="${PATTERN_BASE}%n"/>

    <!-- DEV: include stacktraces -->
    <springProfile name="dev">
        <property name="PATTERN" value="${PATTERN_BASE}%n%ex"/>
    </springProfile>

    <!-- PROD: no stacktraces -->
    <springProfile name="prod">
        <property name="PATTERN" value="${PATTERN_BASE}%n"/>
    </springProfile>

    <!-- APP: INFO/WARN (exclude ERROR to avoid duplication) -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/application-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ERR: only ERROR -->
    <appender name="ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/general.errors.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/general.errors-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Your code -->
    <logger name="techcourse.herobeans" level="INFO" additivity="false">
        <appender-ref ref="APP"/>
        <appender-ref ref="ERR"/>
    </logger>

    <!-- Third-party libs -->
    <root level="WARN">
        <appender-ref ref="APP"/>
        <appender-ref ref="ERR"/>
    </root>
</configuration>
